.contact {
    display: flex;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    margin-right: 700px;

}

.contact a {
    margin-left: 5px;
    text-decoration: none;
    color: #fff;
}

.media {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.media a {
    color: rgba(255, 255, 255, 0.7);
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
}

.media a:hover {
    color: #fff;
}

.container {
    display: flex;
    justify-content: space-evenly;
    background: #106eea;
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    color: #fff;
    padding: 0;
}

.media div i {
    padding: 30px;
    margin-top: 20px;
}

.mobile {
    display: flex;
    margin-left: 20px;
}

.mobile span {
    margin-left: 5px;
}

.contact {
    font-style: normal;
    color: #fff;
    padding: 10px;
}

.mobile {
    font-style: normal;
    color: #fff;
}

.head {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    height: 86px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}

.header {
    background: #fff;
    z-index: 997;
    height: 86px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}

.header-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.8px;
    font-family: "Poppins", sans-serif;
    padding-top: 20px;
}

.logo a {
    color: #000000;
    text-decoration: none;
    padding: 40px;
}

.logo span {
    color: #106eea;
}

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    padding-top: 25px;
}

.navbar ul li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
    position: relative;
    text-decoration: none;
}

.hero {
    height: 100vh;
    background-attachment: fixed;
    width: 100%;
    background: url("../img/hero-bg.jpg") top left;
    background-size: cover;
    position: relative;

}

.hero::before {
    content: "";
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.hero-container {
    position: relative;
    padding: 150px;
}

.hero-container h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #222222;
    font-family: "Poppins", sans-serif;
}

.hero-container h1 span {
    color: #106eea;
}

.hero-container h2 {
    color: #555555;
    margin: 5px 0 30px 0;
    font-size: 24px;
    font-weight: 400;
}

.click {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #106eea;
    text-decoration: none;
}

.vdo {
    font-size: 16px;
    transition: 0.5s;
    margin-left: 25px;
    color: #222222;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

.d-flex a i {
    color: #106eea;
    font-size: 32px;
    transition: 0.3s;
    line-height: 0;
    margin-right: 8px;
}

.d-flex a i span {
    color: #222222;
    font-weight: 600;
    font-size: 16px;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

.features {
    padding: 60px 0;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    width: 100%;
    margin-left: 118px;
    margin: 2px;

}

.animate-container {
    opacity: 1;
    transform: translateZ(0);
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

.row {
    display: flex;
    font-family: "Open Sans", sans-serif;
    color: #444444;



}

.col1 {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    width: 18%;
    margin: 50px;
    display: block;
    flex: 0 0 auto;
}

.icon-box {
    transition-delay: .1s;
    opacity: 1;
    transform: translateZ(0);
    transition-duration: 1s;
    padding: 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgb(68 88 144 / 12%);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

.icon {
    margin-bottom: 15px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    box-sizing: border-box;
}

.icon i {
    font-size: 48px;
    line-height: 1;
    color: #106eea;
    transition: all 0.3s ease-in-out;
}

.icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    margin-top: 0;
    color: #444444;
}

.icon-box h4 a {
    color: #111;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
}

.icon-box h4 p {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    box-sizing: border-box;
}

.col1:hover {
    background: #106eea;
    margin-bottom: auto;
}

.about {
    background-color: #f6f9fe;
    padding: 60px 0;
    padding: 50px;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

.abt {
    opacity: 1;
    transform: translateZ(0);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-property: opacity, transform;
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    font-family: "Open Sans", sans-serif;
    color: #444444;

}

.abt-title {
    text-align: center;
    padding-bottom: 30px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

.abt-title h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: #e7f1fd;
    color: #106eea;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.abt-title h3 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    text-align: center;
    color: #444444;
}

.abt-title h3 span {
    color: #106eea;
}

.abt-title p {
    width: 50%;
    margin: 15px auto 0 auto;
    font-weight: 600;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

.abt-row {
    display: flex;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

.abt-row .pic {
    transition-delay: .1s;
    opacity: 1;
    transform: translateZ(0);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-property: opacity, transform;
    flex: 0 0 auto;
    width: 50%;
    max-width: 100%;
}

.abt-row .pic img {
    width: 650px;
    padding: 30px;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

.data-content {
    transition-delay: .1s;
    opacity: 1;
    transform: translateZ(0);
    justify-content: center !important;
    padding-top: 0 !important;
    flex-direction: column !important;
    display: flex !important;
    flex: 0 0 auto;
    width: 50%;
    max-width: 100%;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

.data-content h3 {
    font-weight: 600;
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #444444;
}

.data-content p {
    font-style: italic !important;
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: "Open Sans", sans-serif;
    color: #444444;

}

.data-content ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    font-family: "Open Sans", sans-serif;
    color: #444444;

}

.data-content ul li {
    margin-top: 35px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 35px;
    text-align: -webkit-match-parent;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

.data-content ul li i {
    background: #fff;
    box-shadow: 0px 6px 15px rgb(16 110 234 / 12%);
    font-size: 24px;
    padding: 20px;
    margin-right: 15px;
    color: #106eea;
    border-radius: 50px;
    font-family: boxicons !important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    text-align: -webkit-match-parent;
    list-style: none;
    content: "\ec2f";
}

.data-content ul li div {
    list-style: none;

}

.data-content ul li h5 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: -webkit-match-parent;
    list-style: none;
}

.data-content ul li p {
    margin-bottom: 0;
    font-size: 15px;
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

.data-content .last-para {
    margin-bottom: 0;
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    box-sizing: border-box;
}

.skills {
    padding: 60px 0;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

.skill.container {
    opacity: 1;
    transform: translateZ(0);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    max-width: 1320px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

.skill-row {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    box-sizing: border-box;
    display: flex;
    margin: 20px;



}

.skill-sec {
    flex: 0 0 auto;
    width: 50%;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    padding-left: 20px;
}

.progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    overflow: hidden;
}

.progress span {
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #222222;
}

.progress span i {
    float: right;
    font-style: normal;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #222222;
    text-transform: uppercase;
}

.prog-bar {
    background: #e2eefd;
    height: 10px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.p1{
    height: 10px;
    transition: 0.9s;
    background-color: #106eea;
}
.count{
    padding: 70px 0 60px;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.count-container{
    opacity: 1;
    transform: translateZ(0);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.count-row{
    display: flex;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    
}
.count-sec{
    flex: 0 0 auto;
    width: 25%;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    padding-left: 32px;
}
.count-box{
    padding: 30px 30px 25px 30px;
    width: 90%;
    position: relative;
    text-align: center;
    background: #f1f6fe;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.count-box i{
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    background: #106eea;
    color: #fff;
    width: 56px;
    height: 56px;
    line-height: 0;
    border-radius: 50px;
    border: 5px solid #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    text-align: center;
    font-family: "Open Sans", sans-serif;

}
.count-box span{
    padding: 5px;
    font-size: 36px;
    display: block;
    font-weight: 600;
    color: #062b5b;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}
.count-box p{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #444444;
}
.new-div1{
    width: 50%;
}
.new-div2{
    width: 50%;
}
.new-div3{
    width: 50%;
}
.new-div4{
    width: 50%;
}
.client{
    padding: 15px 0;
    text-align: center;
    background-color: #f6f9fe;
}
.cli-container{
    opacity: 1;
    transform: translateZ(0) scale(1);
    transition-duration: 1s;
    transition-property: opacity,transform;
    max-width: 1320px;
    text-align: center;
   
}
.cli-row{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 40px;
    margin-bottom: -20px;

}
.cli-box{
    text-align: center;
    align-items: center!important;
    flex: 0 0 auto;
    width: 16.66666667%;
    max-width: 100%;
}
.cli-box img{   
    max-width: 45%;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
    height: auto;
}
.services{
    background-color: white;
    padding: 60px 0;
    padding: 50px;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.ser-container{
    opacity: 1;
    transform: translateZ(0);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-property: opacity,transform;
    margin-right: auto;
    margin-left: auto;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.ser-title{
    text-align: center;
    padding-bottom: 30px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    color: #444444;

}
.ser-title h2{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: #e7f1fd;
    color: #106eea;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    text-align: center;
}
.ser-title h3{
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    text-align: center;
    color: #444444;

}
.ser-title h3 span{
    color: #106eea;
    font-size: 32px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    text-align: center;
}
.ser-title p{
    width: 50%;
    margin: 15px auto 0 auto;
    font-weight: 600;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #444444;

}
.ser-row{
    font-family: "Open Sans", sans-serif;
    color: #444444;
    display: flex;
    flex-wrap: wrap;
    margin-left: 180px;
}
.zoom-box1{
    width: 300px;
    padding-inline: 10px;
    margin-top: 15px;
    background: #fff;
    box-shadow: 0px 3px 6px;
    
   
}
.zoom-box2{
    width: 300px;
    padding-inline: 10px;
    margin-top: 15px;
    background: #fff;
    box-shadow: 0px 3px 6px;
    margin-left: 30px;
}
.zoom-box3{
    width: 300px;
    padding-inline: 10px;
    margin-top: 15px;
    background: #fff;
    box-shadow: 0px 3px 6px;
    margin-left: 30px;
}
.zoom-box4{
    width: 300px;
    padding-inline: 10px;
    margin-top: 15px;
    background: #fff;
    box-shadow: 0px 3px 6px;
    
}
.zoom-box5{
    width: 300px;
    padding-inline: 10px;
    margin-top: 15px;
    background: #fff;
    box-shadow: 0px 3px 6px;
    margin-left: 30px;
}
.zoom-box6{
    width: 300px;
    padding-inline: 10px;
    margin-top: 15px;
    background: #fff;
    box-shadow: 0px 3px 6px;
    margin-left: 30px;
}
.sericon-box{
    text-align: center;
    border: 1px solid #e2eefd;
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.ser-box{
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #f1f6fe;
    border-radius: 4px;
    border: 1px solid #deebfd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: ease-in-out 0.3s;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.ser-box i{
    color: #3b8af2;
    font-size: 28px;
    transition: ease-in-out 0.3s;
    font-family: boxicons!important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}
.ser-list  h2{
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    margin-top: 0;
    line-height: 1.2;
    text-align: center;
    color: #444444;

}
.ser-list h2 a{
    color: #222222;
    transition: ease-in-out 0.3s;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    text-align: center;
}
.ser-box .ser-list p{
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.testimonial{
    padding: 80px 0;
    background: url(../img/testimonials-bg.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    
    
}
.testimonial ::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
/* .test-container{
    opacity: 1;
    transform: translateZ(0) scale(1);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-property: opacity,transform;
    max-width: 1320px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
} */
.slider{
    transition-delay: .1s;
    opacity: 1;
    transform: translateZ(0);
    transition-timing-function: ease-in-out;
    overflow: hidden;
    transition-duration: 1s;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    list-style: none;
    padding: 0;
    z-index: 1;
    font-family: "Open Sans", sans-serif;
    color: #444444;

}
.swipper-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.swipper-slider{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    color: #444444;

}
.test-img{
    text-align: center;
    color: #fff;
    list-style: none;
    font-family: "Open Sans", sans-serif;

}
.test-img img{
    width: 100px;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    list-style: none;
}
.test-img h3{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #fff;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    text-align: center;
    list-style: none;

}
.test-img h4{
    font-size: 14px;
    color: #ddd;
    margin: 0 0 15px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    text-align: center  ;
}
.test-img p{
    width: 80%;
    font-style: italic;
    margin: 0 auto 15px auto;
    color: #eee;
    text-align: center;
    list-style: none;
    font-family: "Open Sans", sans-serif;
}
.test-img p i{
    display: inline-block;
    left: -5px;
    position: relative;
    color: rgba(255, 255, 255, 0.4);
    font-size: 26px;
}
.portfolio{
    padding: 60px 0;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.port-container{
    opacity: 1;
    transform: translateZ(0);
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.port-title{
    text-align: center;
    padding-bottom: 30px;
    font-family: "Open Sans", sans-serif;
    color: #444444;

}
.port-title h2{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: #e7f1fd;
    color: #106eea;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    text-align: center;

}
.port-title h3{
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    line-height: 1.2;
    color: #444444;

}
.port-title h3 span{
    color: #106eea;
    font-size: 32px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    text-align: center;

}
.port-title p{
    width: 50%;
    margin: 15px auto 0 auto;
    font-weight: 600;
    margin: 15px auto 0 auto;
    font-weight: 600;
}
.small-row{
    transition-delay: .1s;
    opacity: 1;
    transform: translateZ(0);
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.small-flex{
    /* display: flex;
    justify-content: center; */
    flex: 0 0 auto;
    display: flex!important;
    justify-content: center!important;
    width: 100%;
    max-width: 100%;
    font-family: "Open Sans", sans-serif;
    color: #444444;  

}
.port-filter{ 
    display: flex;
    justify-content: space-between;
    margin: 0 auto 15px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
    padding: 2px 15px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    
}
.port-filter li {
    padding: 10px 15px 10px 15px;
}
.port-filter li a{
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    font-weight: 700px;
}
.port-filter li a:hover{
    color: blue;
}
.port-imgs{
    left: 0px;
    top: 341.987px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.port-1{
    width: 30%;
}
.port-1 img{
    padding-bottom: 15px;
    width: 100%;
    height: auto;
}
.team{
    padding: 60px 0;
    background-color: #f6f9fe;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.team-container{
    opacity: 1;
    transform: translateZ(0);
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.team-title{
    text-align: center;
    padding-bottom: 30px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.team-title h2{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: #e7f1fd;
    color: #106eea;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    text-align: center;

}
.team-title h3{
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    text-align: center;
    color: #444444;

}
.team-title h3 span{
    color: #106eea;
    font-size: 32px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;

}
.team-title p{
    width: 50%;
    margin: 15px auto 0 auto;
    font-weight: 600;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.team-row{
    display: flex;
    flex-wrap: wrap;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.img-box{
    opacity: 1;
    transform: translateZ(0);
    align-items: stretch!important;
    display: flex!important;
    flex: 0 0 auto;
    width: 23%;
    padding: 10px;
}
.member{
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 2px 15px rgb(16 110 234 / 15%);
    font-family: "Open Sans", sans-serif;
    color: #444444;
    
}
.member-img{
    position: relative;
    overflow: hidden;
}
.member-img img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.social{
    position: absolute;
    left: 0;
    bottom: 30px;
    right: 0;
    opacity: 0;
    transition: ease-in-out 0.3s;
    text-align: center;
}
.social a{
    margin: 0 3px;
    padding-top: 7px;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    background: rgba(16, 110, 234, 0.8);
    display: inline-block;
    transition: ease-in-out 0.3s;
    color: #fff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

    font-family: "Open Sans", sans-serif;
}
.social a i{
    font-size: 18px;
    font-style: italic;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-family: "Open Sans", sans-serif;

}
.social a i::before{
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
}
.mem-info{
    padding: 25px 15px;
}
.mem-info h4{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    color: #222222;
    font-family: "Roboto", sans-serif;
    margin-top: 0;
    line-height: 1.2;

}
.mem-info span{
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #aaaaaa;
    font-family: "Open Sans", sans-serif;
}
.pricing{
    padding: 60px 0;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.price-container{
    opacity: 1;
    transform: translateZ(0);
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.price-title{
    text-align: center;
    padding-bottom: 30px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.price-title h2{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: #e7f1fd;
    color: #106eea;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    text-align: center;
}
.price-title h3{
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    text-align: center;
    color: #444444;
}
.price-title h3 span{
    color: #106eea;
    font-size: 32px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;

}
.price-title p{
    width: 50%;
    margin: 15px auto 0 auto;
    font-weight: 600;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.price-row{
display: flex;
 
}
.row-list{
    opacity: 1;
    transform: translateZ(0);
    flex: 0 0 auto;
    width: 25%;
    max-width: 100%;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    padding: 10px;
}
.price-box{
    padding: 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 12%);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.price-box h3{
    margin: -20px -20px 20px -20px;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #777777;
    background: #f8f8f8;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    text-align: center;

}
.price-box h4{
    font-size: 36px;
    color: #106eea;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 1.2;
    text-align: center;

}
.price-box h4 sub{
    font-size: 20px;
    top: -15px;
    left: -3px;
    position: relative;
    line-height: 0;
    vertical-align: baseline;
    color: #106eea;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    text-align: center;

}
.price-box h4 span{
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    line-height: 1.2;
    text-align: center;

}
.price-box ul{
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;

}
.price-box ul li{
    padding-bottom: 16px;
    list-style: none;
    color: #444444;
    line-height: 20px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;

}
.btn-wrap{
    margin: 20px -20px -20px -20px;
    padding: 20px 15px;
    background: #f8f8f8;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.btn-wrap a{
    background: #106eea;
    display: inline-block;
    padding: 8px 35px 10px 35px;
    border-radius: 4px;
    color: #fff;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;

}